* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FEFCF3;
}

/* ===========Nav Section======== */

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid #a652fe;
  height: 60px;
}

.menu ul,
.icon ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

.main-menu {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #5d534a;
}

.icon svg {
  fill: #5d534a;
  transition: transform 0.2s ease-in-out;
}

.icon svg:hover {
  transform: scale(1.25);
}

.menu li:hover {
  text-decoration: underline;
  color: #a652fe;
  cursor: pointer;
}

.bi-linkedin:hover {
  fill: #0072b1;
}

.bi-instagram:hover {
  fill: #e1306c;
}

.bi-github:hover {
  fill: #000000;
}

/* ==================Hero Section============ */

div.practice-items {
  max-width: 100%;
  margin: 0 auto;
  min-height: 70vh;
}

.practice-items-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 40px;
  height: 320px;
  margin-top: 150px;
  margin-bottom: 100px;
}

.practice-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: fit-content;
}

img.headshot-prac {
  border-radius: 20px;
}

.heading-p1 {
  margin: 0;
  font-size: 20px;
}

.name {
  font-family: "Share Tech Mono", monospace;
  font-size: 30px;
}

.name-practice {
  font-family: "Share Tech Mono", monospace;
  font-size: 30px;
}

.purple-background {
  border-radius: 20px;
  border: solid black 10px;
  height: 298px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin: 10px;
}

div .html-lang-text-1 {
  font-family: "Share Tech Mono", monospace;
  width: 150px;
  position: absolute;
  left: 25px;
  top: 50px;
  color: #a652fe;
}

div .html-lang-text-2 {
  font-family: "Share Tech Mono", monospace;
  position: absolute;
  left: 25px;
  top: 610px;
  color: #a652fe;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* =============PROJECTS SECTION============ */

h2 {
  text-align: center;
  /*font-family: 'Pangolin', cursive;*/
  font-family: "Sacramento", cursive;
  color: #5d534a;
  font-size: 30px;
}

.currentprojects-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}

.card {
  background-color: #f5ebe0;
  border-radius: 5px;
  margin: 15px;
}

.card-padding {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.logo {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.card-title {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 15px;
  color: #5d534a;
  margin-block-start: 13px;
  margin-block-end: 3px;
}

.card-description {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.card-button-container {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: wrap;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 0;
}

.card-button {
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  background-color: #5d534a;
  transition: 0.2s ease-in-out 0s;
}

.card-button svg {
  display: block;
  fill: #fefcf3;
}

.card-button:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.card-button svg:hover {
  fill: #fefcf3;
}

.instagram-button:hover {
  background-color: #e1306c;
}

.discord-button:hover {
  background-color: #7289d9;
}

.link-button:hover {
  background-color: #d6d2c4;
}

/* ==============FOOTER=========== */

.footer-hr {
  border: dotted #d6d2c4 6px;
  border-bottom: none;
  width: 80%;
}

footer {
  font-family: "Rubik", sans-serif;
  color: #5d534a;
  text-align: center;
}
